.skill {
  width: 96px;
  height: 96px;
  border-radius: .75rem;
  background-color: #212427;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem;
  user-select: none;
}

@media (max-width: 600px) {
  .skill {
    width: 72px;
    height: 72px;
  }
}