.container {
  background-color: #131618;
  min-height: 100vh;
  padding: 0 2rem;
  position: relative;
  overflow-x: hidden;
}

.logo {
  margin-left: .75rem;
  margin-top: .5rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__avatar {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #eee;
  box-sizing: border-box;
  overflow: hidden;
}

.main__avatar:hover {
  border-color: hotpink;
}

.main__title {
  font-size: 6rem;
  margin: 0;
  margin-bottom: 1rem;
  color: #eee;
  font-family: 'Rubik';
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
}

.main__subtitle {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
  color: #eee;
  font-family: 'Hubballi';
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
}

.main__socialList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  overflow-x: hidden;
}

.main__social {
  font-family: 'Hubballi';
  font-size: 1.7rem;
  color: #eee;
  margin: 0 .5rem;
  cursor: pointer;
}

.main__social:hover {
  color: hotpink;
  text-decoration: underline;
}

.main__skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.main__cvlinks {
  font-family: 'Hubballi';
  font-size: 1.7rem;
  color: #eee;
  margin-top: 1rem;
}

.main__cvlinks a {
  text-decoration: underline;
}

.footer {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #414141;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #eee;
}

@media (max-width: 600px) {
  .main {
    padding: 1rem 0;
    margin-bottom: 4rem;
  }

  .footer {
    padding: 1rem;
  }

  .main__title {
    font-size: 2rem;
  }

  .main__avatar {
    width: 96px;
    height: 96px;
    margin-bottom: 1rem;
  }

  .main__subtitle {
    font-size: 1.5rem;
    margin: 0;
    color: #eee;
    font-family: 'Hubballi';
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
  }

  .main__skills {
    margin-top: 1rem;
  }

  .main__socialList {
    margin-top: 1rem;
  }

  .main__social {
    margin: .35rem;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: #212427;
    border: 1px solid #eee;
    border-radius: 45px;
  }

  .main__cvlinks {
    font-family: 'Hubballi';
    font-size: 1.2rem;
    color: #eee;
    margin-top: 1rem;
  }
}